{% extends 'base.html' %} {% block content %} {% for snippet in snippets %}
<a class="snippet-link" href="{% url 'snippet-details' snippet.pk %}">
  <div class="snippet">
    <h4 class="snippet-title" id="{{snippet.pk}}">{{snippet.title}}</h4>
    <p class="">{{snippet.description}}</p>
    <pre>
    <code>
    {{snippet.code_block}}
    </code>
    </pre>
    <p class="language">{{snippet.language}}</p>
    {% for tag in snippet.tags.all %}
    <p class="tag">{{tag}}</p>
    {% endfor %}
  </div>
</a>
{% endfor %} {% endblock %}
