<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Oswald:300,400,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/solarized-dark.min.css"
    />
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
    <script
      src="https://kit.fontawesome.com/fa594a9551.js"
      crossorigin="anonymous"
    ></script>
    {% load static %}
    <script src="{% static 'main.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <title>Snipps</title>
  </head>
  <body>
    <header>
      <div class="logo">
        {% block greeting %}
        <h2>Welcome Back {{ request.user.username }}</h2>
        {% endblock %}
      </div>
      <div class="menu">
        <div class="seach-bar">
          <form action="" method="GET" id="search-form">
            <input
              type="text"
              id="search"
              name="q"
              placeholder="Search..."
              value="{{query}}"
            />
            <button id="search-btn" type="submit">
              <i class="fas fa-search"></i>
            </button>
          </form>
        </div>
        <a class="menu-link" href="{% url 'snippet-list' %}">Home</a>
        <a class="menu-link" href="{% url 'snippets-new' %}">Add Snippet</a>
        <a class="menu-link" href="/accounts/logout">Logout</a>
      </div>
    </header>
    <div class="container">
      {% block content %} {% endblock %}
    </div>
    <script>
      hljs.initHighlightingOnLoad();
    </script>
  </body>
</html>
